.config {
    float: left;
    width: 30%;
    height: 990px;
}
.display {
    float: left;
    width: 70%;
    height: 990px;
}
.show {
    width: 100%;
    height: 100%;
}
#showAdviserHUB {
    display: block;
}
#showInvestorHUB {
    display: none;
}
#showLoginPage {
    display: none;
}
.whiteLabelSettings {
    color:gray;
}